@{
    ViewData["Title"] = "Files import";
}

<h2>Импорт файла Excel</h2>
<div>
    @using (Html.BeginForm("Import", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <p>Загрузите Excel-файл(ы):</p>

        <div class="container">
            <div class="row">
                <input type="file" multiple="multiple" name="filesExcel" id="filesExcel " class="btn btn-outline-dark" />
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <input type="submit" value="Загрузить" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</div>