@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Import">
                    <h5 class="card-title">Загрузка данных о погоде</h5>
                    <p class="card-text">Вы можете загрузить как один так и несколько файлов. Если прогноз о каком-либо дне уже есть в базе данных, то данные не записываються.</p>
                    <img src="~/images/cloudup_icon-icons.com_54402.png" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Weathers">
                    <h5 class="card-title">Просмотр погоды</h5>
                    <p class="card-text">В данной странице вы можете просмотреть прогноз указав нужный вам месяц или год. Также присутсвует постраничная навигация.</p>
                    <img src="~/images/sunny_sun_cloud_weather_cloudy_icon_194237.png" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</div>

